{% extends 'base.html.twig' %}

{% block title %}Hello Eventos Usuarios!{% endblock %}

{% block body %}
    {{ parent() }}

    <div id="carouselEstadisticos" class="carousel slide carousel-custom" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselEstadisticos" data-slide-to="0" class="active"></li>
            <li data-target="#carouselEstadisticos" data-slide-to="1"></li>
            <li data-target="#carouselEstadisticos" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('build/images/carusel_1.jpg') }}" class="d-block w-100" alt="carusel1">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('build/images/carusel_2.jpg') }}" class="d-block w-100" alt="carusel2">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('build/images/carusel_3.jpg') }}" class="d-block w-100" alt="carusel3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselEstadisticos" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselEstadisticos" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row mt-3 mb-5">
        <div class="col-12">
            <h2 class="text-black-50 text-center"><i>Our Users</i></h2>
        </div>
        {% for user in users %}
            <div class="col-12 col-md-4 mt-3">
                <div class="card w-100 shadow border-dark">
                    <div class="w-100 bg-img-card">
                        {% if user.gender == "MALE" %}
                            <img src="{{ asset('build/images/profile_male.jpg') }}" class="card-img-top w-50 mx-auto d-block" alt="profile male">
                        {% else %}
                            <img src="{{ asset('build/images/profile_female.jpg') }}" class="card-img-top w-50 mx-auto d-block" alt="profile female">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ user.name }} {{ user.surname }}</h5>
                        <p class="card-text">To view the events for this user, click the button</p>
                        <a href="{{ path('events', {userId: user.id}) }}" class="btn btn-primary btn-block">View Events</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
