@import './helper/variables';
@import '~bootstrap';

body {
    background: $lightblue;
    margin-top: 60px;
}

.carousel-custom img {
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.bg-img-card {
    background: $lightWhite;
}

.clickable {
    cursor: pointer;
}

.navigation-custom {
    display: flex;
    justify-content: center;
}

.navigation-custom .page-item.active .page-link {
    background: $dark;
    border-color: $dark;
}

.navigation-custom .page-item {

    .page-link {
        background: $lightDark;
        border-color: $lightDark;
        color: #FFF;

        &:hover {
            color: $lightblue;
        }
    }

    &.disabled .page-link {
        color: $textDisabled;
    }
}