<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	{{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ path('home') }}">UserEvents.com</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item {% if app.request.get('_route') == 'home' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('home') }}">Home</a>
                        </li>
                        <li class="nav-item {% if app.request.get('_route') == 'events' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('events') }}">General Events</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <footer class="footer bg-dark fixed-bottom">
            <div class="container-fluid text-center">
                <p class="py-2 mb-0 text-white">made by <a href="http://iuwebzone.com/t/desarrollador/Davidbarrios" target="_blank" rel="noopener noreferrer">David Barrios</a></p>
            </div>
        </footer>
        {% block javascripts %}
        	{{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
