{% extends 'base.html.twig' %}

{% block title %}Hello EventsController!{% endblock %}

{% block body %}
    {{ parent() }}
    <h2 class="text-black-50 text-center mb-5 pt-5">
        <i>List of events</i>
        <br>
        {% if user is not empty %}
            <b>{{ user.name}} {{ user.surname}}</b>
        {% endif %}
    </h2>
    <div class="row mb-2">
        <div class="col-12 col-md-4">
            <b>Desde:</b> {{ dates['lastDay'] | date('M d, Y') }}
        </div>
        <div class="col-12 col-md-4">
            <b>Hasta:</b> {{ dates['today'] | date('M d, Y')}}
        </div>
        <div class="col-12 col-md-4">
            {% if user is not empty %}
                <a class="btn btn-danger float-right" href="{{ path('events') }}">
                    Delete Filters
                </a>
            {% endif %}
        </div>
    </div>
    <div class="table-responsive mb-3">
        <table class="table table-hover table-striped bg-white">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">IP Address</th>
                    <th scope="col">Country</th>
                    <th scope="col">Agent</th>
                    <th scope="col">Events</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for event in pagination %}
                    <tr class="clickable" onclick="window.location.href='{{ path('events',{userId: event.user.id}) }}'" title="click to filter" data-toggle="tooltip" data-placement="top">
                        <td>{{ event.user.name }} {{ event.user.surname }}</td>
                        <td>{{ event.ip }}</td>
                        <td>{{ event.country }}</td>
                        <td>{{ event.agent }}</td>
                        <td>{{ event.event }}</td>
                        <td>{{ event.createdAt | date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation navigation-custom">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
